h1 {
  font-family: "arial";
  margin: 1em;
  text-align: center;
  background-color: white;
}

h3 {
  margin: 2.2em;
}

body {
  background-image: url("../img/card.jpg");
  background-repeat: repeat-y;
}
#borderTop {
  width: 100%;
  background-color: white;
  z-index: 0;
}

#center {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  min-width: 1150px;
}

#kundenBestellungNummer {
  padding-top: 1em;
  margin-top: 2.2em;
  margin-bottom: 2.2em;
  padding-bottom: 1em;
  background-color: white;
}

#kundenBestellungNummer li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  /*background-color: blue;*/
}

#accordionG li {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  /*background-color: green;*/
}
#accordionG {
  background-color: white;
}

label {
  font-weight: bold;
  width: 200px;
  display: inline-block;
}

#ulLeft {
  /*background-color: red;*/
  width: 50%;
  float: left;
}

#ulRight {
  /*background-color: blue;*/
  width: 50%;
  float: right;
}
#ulLeft label,
#ulLeft label,
#ulRight label {
  width: 350px;
}
#ulLeft input,
#ulRight input {
  width: 30px;
}

.op {
  display: block;
  float: none;
  border: 1px solid gold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-indent: 0.5em;
}
#kundenFill.ac ul li,
#itemFill.ac ul li,
#vorschau.ac ul li,
#herstellen .ac ul li {
  margin-left: 1em;
}
#kundenBestellungNummer input[type="text"] {
  width: 300px;
}
#kundenFill.ac ul li input[type="text"],
#kundenFill.ac ul li input[type="email"] {
  width: 300px;
}

.error {
  display: none;
  color: red;

  /*background-color: pink;*/
}
.error p {
  text-indent: 205px;
  margin-top: 0;
  line-height: 10px;
  margin-bottom: 0.3em;
}
li.error {
  background-color: pink;
  /*line-height: 10px;*/
  padding-bottom: 0.2em;
}

#myTextArea {
  border: 1px solid #888;
}
li #preisName,
li #theNewListeName,
li #theNewListePreis {
  width: 150px;
}
#preislisteName,
#newListeName,
#newListePreis {
  width: 150px !important;
}
#rechnung {
  width: 115px !important;
}
#date {
  width: 55px !important;
}
#theDate,
#theRechnung,
#theStorno {
  width: 100px !important;
}
#theStorno {
  color: red;
}
#theStorno::-webkit-input-placeholder {
  color: grey;
}

#theStorno:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}

#theStorno::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}

#theStorno:-ms-input-placeholder {
  color: black;
}

input:focus {
  background-color: yellow;
}

.newList,
.newListerror {
  display: none;
}
p.newListerror {
  margin: 0;
  display: inline;
  color: red;
}
p#error2 {
  margin: 0;
  display: inline;
  visibility: hidden;
  color: red;
}
p#erfolg {
  margin: 0;
  display: inline;
  visibility: hidden;
}
p#erfolg2 {
  margin: 0;
  display: inline;
  visibility: hidden;
}
.newLr {
  background-color: yellow !important;
  display: none;
}
#error2Lr,
.newLrError,
#erfolgLr,
#theNewLrName_error,
#myTextAreaLr_error,
#erfolgLr2,
p#erfolg4_error {
  margin: 0;
  display: inline;
  /*visibility:visible;*/
  visibility: hidden;
}

#error2Lr,
#theNewLrName_error,
#myTextAreaLr_error,
p#erfolgLr3_error,
p#erfolgLr4_error {
  color: red;
}
#erfolgLr,
#erfolgLr2,
#erfolgLr3 {
  color: blue;
}
#bottom {
  clear: both;
  /*background-color: yellow;*/
}

p#erfolgLr3,
p#erfolgLr3_error,
p#erfolgLr4_error {
  margin: 0;
  display: inline;
  visibility: hidden;
}

p#erfolgLr3_error {
  margin-left: 190px;
}

#last {
  text-align: center;
}

.comma {
  width: 35px !important;
}

.vorschauBack {
  clear: both;
  width: 794px;
  height: 1122px;
  /*background-color: white!important;*/
  /*background-color: green!important;*/
}

.overlay {
  margin-top: 0;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

/*letter*/
.letter p {
  font-family: helvetica, sans-serif;
  text-align: left;
  margin-right: 95mm; /*   36px*/
  color: black;
  font-size: 11pt; /*   12px*/
  line-height: 19px;
  margin: 0;
}

.letter {
  margin-left: 33mm; /*119*/
  /*background-color: blue;*/
}

.letter_2 {
  margin-left: 33mm; /*119*/
  /*background-color: blue;*/
}
#klausAdress {
  float: right;
  /*background-color: red;*/
  margin-top: 50mm; /*170px*/
  width: 66mm; /*250px*/
  margin-right: 18mm; /*55px*/
}
#klausAdress p {
  text-align: right;
}
#klausAdress2 {
  float: left;
  text-decoration: underline;
  margin-top: 62mm; /*232px*/

  position: absolute;
}
#klausAdress2 p {
  font-size: 7pt;
}

#buchsendung {
  float: left;
  margin-top: 56mm; /*210px*/
  display: none;
}
#buchsendung p {
  font-size: 14pt;
}
#letter_theStorno {
  font-size: 14pt;
  position: absolute;
  top: 48mm; /*180px*/
}
#zusender {
  float: left;
  font-weight: bold;
  margin-top: 70mm; /*248px*/
  position: absolute;
}
#rechnungLernkarte {
  float: left;
  /* background-color:pink;*/
  font-weight: bold;
  margin-top: 106mm; /*400px*/
  position: absolute;
}

#sehrGeherte {
  float: left;
  /*background-color:blue;*/
  margin-top: 120mm; /*455px*/
  position: absolute;
  width: 160mm; /*601px*/
  /*height:596px;*/
}
#letter_myTextAreaLr p,
#sehrGeherte_2 p {
  text-align: justify;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
#sehrGeherte_2 {
  float: left;
  position: absolute;
  top: 350mm; /*1330px;*/

  width: 160mm; /*601px;*/
  z-index: 4;
  /* background-color: rgba(100, 100, 100, 0.5); */
}
#sehrGeherte_3 {
  float: left;
  position: absolute;
  top: 652mm;
  width: 160mm; /*601px;*/
  z-index: 4;
  /* height: 800px; 
 background-color: pink;  */
}
table {
  width: 160mm; /*601px;*/
  /*background-color: red;*/
}

.td0 {
  width: 5%;
}
.td1 {
  width: 25%;
}
.td2 {
  width: 40%;
}
.td3a {
  width: 5%;
}
.td3b {
  width: 10%;
}
.td3 {
  width: 15%;
}
.td4 {
  width: 85%;
}
.td5 {
  width: 15%;
}

td {
  height: 20px; /*15px;*/
}
.bold {
  font-weight: bold;
  /* background-color: red;*/
}
.absatz {
  margin-left: 40px;
}
.toTheRight {
  right: 0;
}
body {
  margin: 0;
  padding: 0;
  /*    background-color: #FAFAFA;*/
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.vorschauBack {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0cm;
  margin: 0cm auto;
  border: 0px #000 solid;
  border-radius: 0px;
  /*    background: green; */
}
.backPix {
  z-index: 3;
  top: 0;
  position: absolute;
  opacity: 0;
}

#vorschau {
  position: relative;
  height: 29.7cm;
  /*background-color: pink;*/
}
#vorschauBack2 {
  width: 21cm;
  height: 29.7cm;
  padding: 0cm;
  margin: 0cm auto;
  border: 0px #000 solid;
  border-radius: 0px;
  /*   background: green;*/
  position: absolute;
  opacity: 1;
  z-index: 2;
}
#vorschauBack1 {
  width: 21cm;
  min-height: 29.7cm;
  padding: 0cm;
  margin: 0cm auto;
  border: 0px #000 solid;
  border-radius: 0px;
  /*background: green;*/
  text-align: center;
  position: absolute;
  z-index: 0;
  margin-left: 0;
}
#price_the7,
#price_the19,
#price_the19Label,
#price_the19Done,
#price_the7Done,
#price_thePrice,
#price_theTotal,
#portoGewuescht,
#price_thePortoLabel,
#price_thePorto,
#price_thePortoDone {
  /*	background-color: red;*/
  width: 70px !important;
}

#price_the7Label {
  width: 60px !important;
}

#price_thePortoLabel {
  font-weight: bold;
}
/* print*/
@page {
  size: A4;
  margin: 0;
}

img {
  display: block;
}

.comma5 {
  width: 45px !important;
}

#letter_myTextAreaLr:after {
  content: " ";
  display: block;
  clear: both;
}

.logMeOut {
  color: #898989;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: 100%;
    height: 100%;
    box-shadow: initial;
    background: initial;
    page-break-after: avoid;
  }

  /* Normal styling for all browsers */
  #sehrGeherte_2 {
    float: left;
    position: absolute;
    top: c; /* Adjust this value as needed */
    width: 160mm; /* Adjust this value as needed */
    z-index: 4;
  }
  @-moz-document url-prefix() {
    /* Firefox-specific print styles */
    /* Add your styles here */
    /* For example: */

    #sehrGeherte_2 {
      position: relative;
      top: 233mm; /* Keep this value at 355mm */
      margin-top: 0mm; /* Adjust this value as needed */
      padding-top: 0mm;
    }
  }
  /* Firefox-specific styling */

  #sehrGeherte_3 {
    position: absolute;
    margin-top: 0mm; /* Adjust this value as needed */
  }
}
