*{margin:0;
padding:0;}

h1{
    font-family: 'arial';
    margin: 1em;
   text-align: center;
}

ul{
    list-style: none;
  }
  
li{display: inline; }
  
label{float:left;}
    
#center{
            width:100%;
            /*background-color:blue;*/
            height:100%;
            position:relative;
    
    }
    
    #left{
    /*background-color:red;*/
    margin: 1em;
    width:400px;
    float:left;
    position:absolute;
    /*background-color: purple;*/
    }
    #right{
        margin: 1em;
        left: 400px; 
     /*background-color:yellow;*/ 
    float:left;
    position:absolute;
       display: none;
    }
    #right2{
       display: none;
     margin: 1em;
     left: 400px; 
     /*background-color:pink;*/ 
    float:left;
    position:absolute;
    }
       #right2 img {border:1px solid black;
    }
    
   #right2 ul{
    list-style: none;
  }
  
 #right2 li{
float:left;
margin: .5em;

 }
 #right li:first-child{
float:none;
}  
#right p{margin-left: .5em;
    }
 #right2 li:first-child{
float:none;
}  
#right2 p{margin-left: .5em;
    }

   #right img {border:1px solid black;
    }
    
   #right ul{
    list-style: none;
  }
  
 #right li{
float:left;
margin: .5em;

 }
 
 .selectMe{
/*background-color:red;*/
display:block;
position:relative;
}

.selectImage{
/*background-color:yellow;*/
display:block;
position:relative;
}
.read{
/*background-color:green;*/
display:block;
}

.read li{
float:none;
display:block;
/*background-color:blue;*/
margin-top: .5em;
}

 